PORT=8080
# INLACO_SERVER_BASE_URL="https://inlaco-crewmgr-service.onrender.com"
INLACO_SERVER_BASE_URL="http://localhost:8080"
INLACO_CLIENT_BASE_URL="http://localhost:3000"

MONGO_DATABASE="inlaco-db"
MONGO_USER="admin"
MONGO_PASSWORD=""
MONGO_PORT=27017


JWT_ACCESS_SECRET_KEY=""
JWT_ACCESS_EXPIRATION=1800000

JWT_REFRESH_EXPIRATION=2592000000

QR_ATTENDANCE_CHECKIN_SECRET_KEY=""
QR_ATTENDANCE_CHECKIN_EXPIRATION=300000

QR_ATTENDANCE_CHECKOUT_SECRET_KEY=""
QR_ATTENDANCE_CHECKOUT_EXPIRATION=300000

REDIS_HOST="redis-12917.c292.ap-southeast-1-1.ec2.cloud.redislabs.com"
REDIS_PORT=12917
REDIS_PASSWORD=""

# REDIS_HOST="localhost"
# REDIS_PORT="6379"
# REDIS_PASSWORD=

# EMAIL_USERNAME=
# EMAIL_PASSWORD=

EMAIL_USERNAME="inlacoad@gmail.com"
EMAIL_PASSWORD=""

# Pass: Inlaco123

RESEND_API_KEY=""
RESEND_DOMAIN="onboarding@resend.dev"

VONAGE_API_KEY=
VONAGE_API_SECRET=

HTTPSMS_SENDER=
HTTPSMS_API_KEY=
HTTPSMS_SECRET_KEY=

ADMIN_USERNAME=""
ADMIN_PASSWORD=""

WEB_SOCKET_ENDPOINT="/ws"
WEB_SOCKET_ALLOWED_ORIGINS="http://localhost:*,http://192.168.*:*,https://sontungexpt.github.io"

ALLOWED_CORS_ORIGINS="http://localhost:*,http://192.168.*:*,https://sontungexpt.github.io,https://inlaco-crewmgr-service-b7btdkgsdwafb2ht.eastasia-01.azurewebsites.net"

# VONAGE_SENDER=
# REQUESTS_PER_SECOND_DEV=10

# ELASTICSEARCH_HOST=
# ELASTICSEARCH_CLOUD_ID=

CLOUDINARY_CLOUD_NAME="inlaco"
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
